---
import { getEntry, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Card from "@/components/Card.astro";

export interface Props {
  article: CollectionEntry<"article">;
}

const { article } = Astro.props;
const media = await getEntry(article.data.media);
---

<a href={article.data.url} target="_blank">
  <Card class="article-card">
    <div class="media-logo">
      <Image
        src={media.data.icon}
        alt={`${media.data.name} logo`}
        widths={[18, 36, 54]}
        class="media-logo-image"
      />
    </div>
    <span class="metadata">
      {media.data.name}, {article.data.year}
    </span>
    <h3 class="title">
      {article.data.title}
    </h3>
  </Card>
</a>

<style>
  a {
    height: 100%;
    color: inherit;
    text-decoration: none;
  }

  .article-card {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    gap: 12px 8px;
    height: 100%;
    padding: 16px;
  }

  .media-logo {
    display: flex;
    align-items: center;
  }

  .media-logo-image {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }

  .metadata {
    display: flex;
    align-items: center;
    font-size: 16px;
    opacity: 0.8;
  }

  .title {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    word-break: auto-phrase;
  }
</style>
